/*
    Task board CSS
*/
.taskBoardContainer {
	border: 1px solid #D7D7D7;
}

.taskBoardContainerVertical {
    display: flex;
}
.taskBoardItemList,
.taskBoardItem {
    transition: background-color 0.2s ease;
}

.taskBoardColumn {
    margin: 8px;
    border-radius: 2px;
}

.columnDropStatusNone {
	border: 1px solid #D7D7D7;
}

.columnDropStatusAllowed {
	border: 1px solid #76CA02;
}

.columnDropStatusNotAllowed {
	border: 1px solid #ED1C24;
}

.taskBoardColumnVertical {
    width: 300px;
    display: flex;
    flex-direction: column; /* Flex box with column direction so task list can grow vertically. */
}

.taskBoardItemList {
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1; /* Needs to grow to fill available space. */
}

.taskBoardItemListDraggingOver {
    background-color: skyblue;
}

.taskBoardItemListDraggingFrom {
    background-color: lightyellow;
}

.taskBoardItemListVertical {
    min-height: 500px; /* Make sure there is a droppable area. */
    max-height: 70vh;
    overflow-y: auto;
}

.taskBoardItem {
	border: 1px solid #D7D7D7;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
}

.taskBoardItemDragging {
    background-color: lightgreen;
}

.taskBoardItemDragDisabled {
    background-color: lightgrey;
}
